Project Ciro/Project Ciro/Service References/CiroService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50983/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="login" nillable="true" type="q1:jsonLoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="loginResult" nillable="true" type="q2:jsonLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clientProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clientProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="clientProductsResult" nillable="true" type="q3:ArrayOfjsonProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transeferRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="newRequest" nillable="true" type="q4:jsonTRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transeferRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transeferRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transferList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="transferListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="transferListResult" nillable="true" type="q5:ArrayOfTransferDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stockTake">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="stockTake" nillable="true" type="q6:stockTakeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stockTakeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stockTakeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stockAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="origin" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="newProduct" nillable="true" type="q7:ArrayOfjsonProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stockAddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="taskList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="taskListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="taskListResult" nillable="true" type="q8:ArrayOfjsonTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addIncident">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="newIncident" nillable="true" type="q9:jsonIncident" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addIncidentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="warehouseInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="warehouseInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="warehouseInfoResult" nillable="true" type="q10:JsonWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="warehouses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="warehousesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="warehousesResult" nillable="true" type="q11:ArrayOfJsonWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stockleavingWarehouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stockleavingWarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="stockleavingWarehouseResult" nillable="true" type="q12:ArrayOftransferStock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="regUser" nillable="true" type="q13:JsonUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="updateUsr" nillable="true" type="q14:JsonUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getPackageIDResult" nillable="true" type="q15:JsonProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getPackageTypeResult" nillable="true" type="q16:ArrayOfJsonProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageOwnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getPackageOwnerResult" nillable="true" type="q17:ArrayOfJsonProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPackageDateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageDest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dest" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageDestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPackageDestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPackageLocationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="prod" nillable="true" type="q18:JsonProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPackageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="prod" nillable="true" type="q19:JsonProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatePackageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePackageWLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePackageWLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatePackageWLocationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="releaseRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="releaseRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="releaseRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRelease">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReleaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getReleaseResult" nillable="true" type="q20:ArrayOfJsonReleaseRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addProductLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="prod" nillable="true" type="q21:JsonProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addProductLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addProductLogResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getProductLogResult" nillable="true" type="q22:ArrayOfJsonProductLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWarehouse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getWarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getWarehouseResult" nillable="true" type="q23:ArrayOfJsonWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="approveTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="verdict" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="approveTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="approveTransferResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="approveRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verdict" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="prod" nillable="true" type="q24:JsonProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="approveRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="approveRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>