CiroWebsite/CiroWebsite/Service References/CiroService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50983/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50983/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50983/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IService1_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_clientProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:clientProducts" />
  </wsdl:message>
  <wsdl:message name="IService1_clientProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:clientProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listTransferTRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:listTransferTRequests" />
  </wsdl:message>
  <wsdl:message name="IService1_listTransferTRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:listTransferTRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_transeferRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:transeferRequest" />
  </wsdl:message>
  <wsdl:message name="IService1_transeferRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:transeferRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_transferList_InputMessage">
    <wsdl:part name="parameters" element="tns:transferList" />
  </wsdl:message>
  <wsdl:message name="IService1_transferList_OutputMessage">
    <wsdl:part name="parameters" element="tns:transferListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_stockTake_InputMessage">
    <wsdl:part name="parameters" element="tns:stockTake" />
  </wsdl:message>
  <wsdl:message name="IService1_stockTake_OutputMessage">
    <wsdl:part name="parameters" element="tns:stockTakeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_stockAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:stockAdd" />
  </wsdl:message>
  <wsdl:message name="IService1_stockAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:stockAddResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_taskList_InputMessage">
    <wsdl:part name="parameters" element="tns:taskList" />
  </wsdl:message>
  <wsdl:message name="IService1_taskList_OutputMessage">
    <wsdl:part name="parameters" element="tns:taskListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addIncident_InputMessage">
    <wsdl:part name="parameters" element="tns:addIncident" />
  </wsdl:message>
  <wsdl:message name="IService1_addIncident_OutputMessage">
    <wsdl:part name="parameters" element="tns:addIncidentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_warehouseInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:warehouseInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_warehouseInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:warehouseInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_warehouses_InputMessage">
    <wsdl:part name="parameters" element="tns:warehouses" />
  </wsdl:message>
  <wsdl:message name="IService1_warehouses_OutputMessage">
    <wsdl:part name="parameters" element="tns:warehousesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_stockleavingWarehouse_InputMessage">
    <wsdl:part name="parameters" element="tns:stockleavingWarehouse" />
  </wsdl:message>
  <wsdl:message name="IService1_stockleavingWarehouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:stockleavingWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_register_InputMessage">
    <wsdl:part name="parameters" element="tns:register" />
  </wsdl:message>
  <wsdl:message name="IService1_register_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:updateUser" />
  </wsdl:message>
  <wsdl:message name="IService1_updateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageID_InputMessage">
    <wsdl:part name="parameters" element="tns:getPackageID" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPackageIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageType_InputMessage">
    <wsdl:part name="parameters" element="tns:getPackageType" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageType_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPackageTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:getPackageOwner" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageOwner_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPackageOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageDate_InputMessage">
    <wsdl:part name="parameters" element="tns:getPackageDate" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPackageDateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageDest_InputMessage">
    <wsdl:part name="parameters" element="tns:getPackageDest" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageDest_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPackageDestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:getPackageLocation" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPackageLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addPackage_InputMessage">
    <wsdl:part name="parameters" element="tns:addPackage" />
  </wsdl:message>
  <wsdl:message name="IService1_addPackage_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPackageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updatePackage_InputMessage">
    <wsdl:part name="parameters" element="tns:updatePackage" />
  </wsdl:message>
  <wsdl:message name="IService1_updatePackage_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatePackageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updatePackageWLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:updatePackageWLocation" />
  </wsdl:message>
  <wsdl:message name="IService1_updatePackageWLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatePackageWLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_releaseRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:releaseRequest" />
  </wsdl:message>
  <wsdl:message name="IService1_releaseRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:releaseRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getRelease_InputMessage">
    <wsdl:part name="parameters" element="tns:getRelease" />
  </wsdl:message>
  <wsdl:message name="IService1_getRelease_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReleaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getReleaseRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:getReleaseRequests" />
  </wsdl:message>
  <wsdl:message name="IService1_getReleaseRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReleaseRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addProductLog_InputMessage">
    <wsdl:part name="parameters" element="tns:addProductLog" />
  </wsdl:message>
  <wsdl:message name="IService1_addProductLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:addProductLogResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getProductLog_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductLog" />
  </wsdl:message>
  <wsdl:message name="IService1_getProductLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductLogResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getWarehouse_InputMessage">
    <wsdl:part name="parameters" element="tns:getWarehouse" />
  </wsdl:message>
  <wsdl:message name="IService1_getWarehouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_approveTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:approveTransfer" />
  </wsdl:message>
  <wsdl:message name="IService1_approveTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:approveTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_approveRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:approveRequest" />
  </wsdl:message>
  <wsdl:message name="IService1_approveRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:approveRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_paypal_InputMessage">
    <wsdl:part name="parameters" element="tns:paypal" />
  </wsdl:message>
  <wsdl:message name="IService1_paypal_OutputMessage">
    <wsdl:part name="parameters" element="tns:paypalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_OwnershipRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:OwnershipRequest" />
  </wsdl:message>
  <wsdl:message name="IService1_OwnershipRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:OwnershipRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_approveOwnershipRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:approveOwnershipRequest" />
  </wsdl:message>
  <wsdl:message name="IService1_approveOwnershipRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:approveOwnershipRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getOwnershipRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:getOwnershipRequest" />
  </wsdl:message>
  <wsdl:message name="IService1_getOwnershipRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOwnershipRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getTraderInStock_InputMessage">
    <wsdl:part name="parameters" element="tns:getTraderInStock" />
  </wsdl:message>
  <wsdl:message name="IService1_getTraderInStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTraderInStockResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addWarehouse_InputMessage">
    <wsdl:part name="parameters" element="tns:addWarehouse" />
  </wsdl:message>
  <wsdl:message name="IService1_addWarehouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:addWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:addCountry" />
  </wsdl:message>
  <wsdl:message name="IService1_addCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCountryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getWarehouseInventory_InputMessage">
    <wsdl:part name="parameters" element="tns:getWarehouseInventory" />
  </wsdl:message>
  <wsdl:message name="IService1_getWarehouseInventory_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWarehouseInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addWarehouseMan_InputMessage">
    <wsdl:part name="parameters" element="tns:addWarehouseMan" />
  </wsdl:message>
  <wsdl:message name="IService1_addWarehouseMan_OutputMessage">
    <wsdl:part name="parameters" element="tns:addWarehouseManResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getWarehouseI_InputMessage">
    <wsdl:part name="parameters" element="tns:getWarehouseI" />
  </wsdl:message>
  <wsdl:message name="IService1_getWarehouseI_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWarehouseIResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getUser" />
  </wsdl:message>
  <wsdl:message name="IService1_getUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getUserOwnershipRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserOwnershipRequest" />
  </wsdl:message>
  <wsdl:message name="IService1_getUserOwnershipRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserOwnershipRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:getMessage" />
  </wsdl:message>
  <wsdl:message name="IService1_getMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:sendMessage" />
  </wsdl:message>
  <wsdl:message name="IService1_sendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUsers" message="tns:IService1_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUsersResponse" message="tns:IService1_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/login" message="tns:IService1_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loginResponse" message="tns:IService1_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="clientProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/clientProducts" message="tns:IService1_clientProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/clientProductsResponse" message="tns:IService1_clientProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listTransferTRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listTransferTRequests" message="tns:IService1_listTransferTRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listTransferTRequestsResponse" message="tns:IService1_listTransferTRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="transeferRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/transeferRequest" message="tns:IService1_transeferRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/transeferRequestResponse" message="tns:IService1_transeferRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="transferList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/transferList" message="tns:IService1_transferList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/transferListResponse" message="tns:IService1_transferList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="stockTake">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/stockTake" message="tns:IService1_stockTake_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/stockTakeResponse" message="tns:IService1_stockTake_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="stockAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/stockAdd" message="tns:IService1_stockAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/stockAddResponse" message="tns:IService1_stockAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="taskList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/taskList" message="tns:IService1_taskList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/taskListResponse" message="tns:IService1_taskList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addIncident">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addIncident" message="tns:IService1_addIncident_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addIncidentResponse" message="tns:IService1_addIncident_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="warehouseInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/warehouseInfo" message="tns:IService1_warehouseInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/warehouseInfoResponse" message="tns:IService1_warehouseInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="warehouses">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/warehouses" message="tns:IService1_warehouses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/warehousesResponse" message="tns:IService1_warehouses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="stockleavingWarehouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/stockleavingWarehouse" message="tns:IService1_stockleavingWarehouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/stockleavingWarehouseResponse" message="tns:IService1_stockleavingWarehouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/register" message="tns:IService1_register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerResponse" message="tns:IService1_register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updateUser" message="tns:IService1_updateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updateUserResponse" message="tns:IService1_updateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPackageID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPackageID" message="tns:IService1_getPackageID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPackageIDResponse" message="tns:IService1_getPackageID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPackageType">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPackageType" message="tns:IService1_getPackageType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPackageTypeResponse" message="tns:IService1_getPackageType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPackageOwner">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPackageOwner" message="tns:IService1_getPackageOwner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPackageOwnerResponse" message="tns:IService1_getPackageOwner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPackageDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPackageDate" message="tns:IService1_getPackageDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPackageDateResponse" message="tns:IService1_getPackageDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPackageDest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPackageDest" message="tns:IService1_getPackageDest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPackageDestResponse" message="tns:IService1_getPackageDest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPackageLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPackageLocation" message="tns:IService1_getPackageLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPackageLocationResponse" message="tns:IService1_getPackageLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPackage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addPackage" message="tns:IService1_addPackage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addPackageResponse" message="tns:IService1_addPackage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatePackage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updatePackage" message="tns:IService1_updatePackage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updatePackageResponse" message="tns:IService1_updatePackage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatePackageWLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updatePackageWLocation" message="tns:IService1_updatePackageWLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updatePackageWLocationResponse" message="tns:IService1_updatePackageWLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="releaseRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/releaseRequest" message="tns:IService1_releaseRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/releaseRequestResponse" message="tns:IService1_releaseRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRelease">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getRelease" message="tns:IService1_getRelease_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getReleaseResponse" message="tns:IService1_getRelease_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReleaseRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getReleaseRequests" message="tns:IService1_getReleaseRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getReleaseRequestsResponse" message="tns:IService1_getReleaseRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addProductLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addProductLog" message="tns:IService1_addProductLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addProductLogResponse" message="tns:IService1_addProductLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getProductLog" message="tns:IService1_getProductLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getProductLogResponse" message="tns:IService1_getProductLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getWarehouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getWarehouse" message="tns:IService1_getWarehouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getWarehouseResponse" message="tns:IService1_getWarehouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="approveTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/approveTransfer" message="tns:IService1_approveTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/approveTransferResponse" message="tns:IService1_approveTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="approveRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/approveRequest" message="tns:IService1_approveRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/approveRequestResponse" message="tns:IService1_approveRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="paypal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/paypal" message="tns:IService1_paypal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/paypalResponse" message="tns:IService1_paypal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OwnershipRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OwnershipRequest" message="tns:IService1_OwnershipRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OwnershipRequestResponse" message="tns:IService1_OwnershipRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="approveOwnershipRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/approveOwnershipRequest" message="tns:IService1_approveOwnershipRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/approveOwnershipRequestResponse" message="tns:IService1_approveOwnershipRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOwnershipRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getOwnershipRequest" message="tns:IService1_getOwnershipRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getOwnershipRequestResponse" message="tns:IService1_getOwnershipRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTraderInStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getTraderInStock" message="tns:IService1_getTraderInStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getTraderInStockResponse" message="tns:IService1_getTraderInStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addWarehouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addWarehouse" message="tns:IService1_addWarehouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addWarehouseResponse" message="tns:IService1_addWarehouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addCountry" message="tns:IService1_addCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addCountryResponse" message="tns:IService1_addCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getWarehouseInventory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getWarehouseInventory" message="tns:IService1_getWarehouseInventory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getWarehouseInventoryResponse" message="tns:IService1_getWarehouseInventory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addWarehouseMan">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addWarehouseMan" message="tns:IService1_addWarehouseMan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addWarehouseManResponse" message="tns:IService1_addWarehouseMan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getWarehouseI">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getWarehouseI" message="tns:IService1_getWarehouseI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getWarehouseIResponse" message="tns:IService1_getWarehouseI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getUser" message="tns:IService1_getUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getUserResponse" message="tns:IService1_getUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserOwnershipRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getUserOwnershipRequest" message="tns:IService1_getUserOwnershipRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getUserOwnershipRequestResponse" message="tns:IService1_getUserOwnershipRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getMessage" message="tns:IService1_getMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getMessageResponse" message="tns:IService1_getMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sendMessage" message="tns:IService1_sendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sendMessageResponse" message="tns:IService1_sendMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPEndPoint" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IService1/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clientProducts">
      <soap:operation soapAction="http://tempuri.org/IService1/clientProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listTransferTRequests">
      <soap:operation soapAction="http://tempuri.org/IService1/listTransferTRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="transeferRequest">
      <soap:operation soapAction="http://tempuri.org/IService1/transeferRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="transferList">
      <soap:operation soapAction="http://tempuri.org/IService1/transferList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stockTake">
      <soap:operation soapAction="http://tempuri.org/IService1/stockTake" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stockAdd">
      <soap:operation soapAction="http://tempuri.org/IService1/stockAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="taskList">
      <soap:operation soapAction="http://tempuri.org/IService1/taskList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addIncident">
      <soap:operation soapAction="http://tempuri.org/IService1/addIncident" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="warehouseInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/warehouseInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="warehouses">
      <soap:operation soapAction="http://tempuri.org/IService1/warehouses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stockleavingWarehouse">
      <soap:operation soapAction="http://tempuri.org/IService1/stockleavingWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction="http://tempuri.org/IService1/register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap:operation soapAction="http://tempuri.org/IService1/updateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPackageID">
      <soap:operation soapAction="http://tempuri.org/IService1/getPackageID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPackageType">
      <soap:operation soapAction="http://tempuri.org/IService1/getPackageType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPackageOwner">
      <soap:operation soapAction="http://tempuri.org/IService1/getPackageOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPackageDate">
      <soap:operation soapAction="http://tempuri.org/IService1/getPackageDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPackageDest">
      <soap:operation soapAction="http://tempuri.org/IService1/getPackageDest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPackageLocation">
      <soap:operation soapAction="http://tempuri.org/IService1/getPackageLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPackage">
      <soap:operation soapAction="http://tempuri.org/IService1/addPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePackage">
      <soap:operation soapAction="http://tempuri.org/IService1/updatePackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePackageWLocation">
      <soap:operation soapAction="http://tempuri.org/IService1/updatePackageWLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="releaseRequest">
      <soap:operation soapAction="http://tempuri.org/IService1/releaseRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelease">
      <soap:operation soapAction="http://tempuri.org/IService1/getRelease" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReleaseRequests">
      <soap:operation soapAction="http://tempuri.org/IService1/getReleaseRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addProductLog">
      <soap:operation soapAction="http://tempuri.org/IService1/addProductLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductLog">
      <soap:operation soapAction="http://tempuri.org/IService1/getProductLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWarehouse">
      <soap:operation soapAction="http://tempuri.org/IService1/getWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="approveTransfer">
      <soap:operation soapAction="http://tempuri.org/IService1/approveTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="approveRequest">
      <soap:operation soapAction="http://tempuri.org/IService1/approveRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="paypal">
      <soap:operation soapAction="http://tempuri.org/IService1/paypal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OwnershipRequest">
      <soap:operation soapAction="http://tempuri.org/IService1/OwnershipRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="approveOwnershipRequest">
      <soap:operation soapAction="http://tempuri.org/IService1/approveOwnershipRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOwnershipRequest">
      <soap:operation soapAction="http://tempuri.org/IService1/getOwnershipRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTraderInStock">
      <soap:operation soapAction="http://tempuri.org/IService1/getTraderInStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addWarehouse">
      <soap:operation soapAction="http://tempuri.org/IService1/addWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCountry">
      <soap:operation soapAction="http://tempuri.org/IService1/addCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWarehouseInventory">
      <soap:operation soapAction="http://tempuri.org/IService1/getWarehouseInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addWarehouseMan">
      <soap:operation soapAction="http://tempuri.org/IService1/addWarehouseMan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWarehouseI">
      <soap:operation soapAction="http://tempuri.org/IService1/getWarehouseI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="http://tempuri.org/IService1/getUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserOwnershipRequest">
      <soap:operation soapAction="http://tempuri.org/IService1/getUserOwnershipRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessage">
      <soap:operation soapAction="http://tempuri.org/IService1/getMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <soap:operation soapAction="http://tempuri.org/IService1/sendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="SOAPEndPoint" binding="tns:SOAPEndPoint">
      <soap:address location="http://localhost:50983/Service1.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>