CiroWebsite/CiroWebsite/Service References/CiroService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JsonTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="employee" type="xs:int" />
      <xs:element minOccurs="0" name="endtime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="section" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="warehouse" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JsonTask" nillable="true" type="tns:JsonTask" />
  <xs:complexType name="JsonWarehouse">
    <xs:sequence>
      <xs:element minOccurs="0" name="available" type="xs:double" />
      <xs:element minOccurs="0" name="descrption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="size" type="xs:int" />
      <xs:element minOccurs="0" name="user" type="xs:int" />
      <xs:element minOccurs="0" name="warehousetype" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JsonWarehouse" nillable="true" type="tns:JsonWarehouse" />
  <xs:complexType name="ArrayOfArrayOfjsonlocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfjsonlocation" nillable="true" type="tns:ArrayOfjsonlocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfjsonlocation" nillable="true" type="tns:ArrayOfArrayOfjsonlocation" />
  <xs:complexType name="ArrayOfjsonlocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="jsonlocation" nillable="true" type="tns:jsonlocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfjsonlocation" nillable="true" type="tns:ArrayOfjsonlocation" />
  <xs:complexType name="jsonlocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="col" type="xs:int" />
      <xs:element minOccurs="0" name="height" type="xs:int" />
      <xs:element minOccurs="0" name="isle" type="xs:int" />
      <xs:element minOccurs="0" name="length" type="xs:int" />
      <xs:element minOccurs="0" name="product" type="xs:int" />
      <xs:element minOccurs="0" name="row" type="xs:int" />
      <xs:element minOccurs="0" name="section" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="size" type="xs:int" />
      <xs:element minOccurs="0" name="warehouse" type="xs:int" />
      <xs:element minOccurs="0" name="width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="jsonlocation" nillable="true" type="tns:jsonlocation" />
  <xs:complexType name="JsonUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="convo_id" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usertype" type="xs:int" />
      <xs:element minOccurs="0" name="usertypename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="warehouseID" type="xs:int" />
      <xs:element minOccurs="0" name="warehouseName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JsonUser" nillable="true" type="tns:JsonUser" />
  <xs:complexType name="ArrayOfJsonTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JsonTask" nillable="true" type="tns:JsonTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJsonTask" nillable="true" type="tns:ArrayOfJsonTask" />
  <xs:complexType name="ArrayOfJsonUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JsonUser" nillable="true" type="tns:JsonUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJsonUser" nillable="true" type="tns:ArrayOfJsonUser" />
  <xs:complexType name="jsonLoginUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="jsonLoginUser" nillable="true" type="tns:jsonLoginUser" />
  <xs:complexType name="ArrayOfjsonProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="jsonProduct" nillable="true" type="tns:jsonProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfjsonProduct" nillable="true" type="tns:ArrayOfjsonProduct" />
  <xs:complexType name="jsonProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="arrivalDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="bill" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currentLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="expDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="height" type="xs:int" />
      <xs:element minOccurs="0" name="insured" type="xs:int" />
      <xs:element minOccurs="0" name="length" type="xs:int" />
      <xs:element minOccurs="0" name="origin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productType" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
      <xs:element minOccurs="0" name="size" type="xs:int" />
      <xs:element minOccurs="0" name="transferLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userID" type="xs:int" />
      <xs:element minOccurs="0" name="value" type="xs:decimal" />
      <xs:element minOccurs="0" name="width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="jsonProduct" nillable="true" type="tns:jsonProduct" />
  <xs:complexType name="ArrayOfTransferDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransferDetails" nillable="true" type="tns:TransferDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransferDetails" nillable="true" type="tns:ArrayOfTransferDetails" />
  <xs:complexType name="TransferDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="currentLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dateIssued" type="xs:dateTime" />
      <xs:element minOccurs="0" name="destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productid" type="xs:int" />
      <xs:element minOccurs="0" name="transferName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransferDetails" nillable="true" type="tns:TransferDetails" />
  <xs:complexType name="ArrayOfjsonTRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="jsonTRequest" nillable="true" type="tns:jsonTRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfjsonTRequest" nillable="true" type="tns:ArrayOfjsonTRequest" />
  <xs:complexType name="jsonTRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endWarehouse" type="xs:int" />
      <xs:element minOccurs="0" name="productID" type="xs:int" />
      <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="jsonTRequest" nillable="true" type="tns:jsonTRequest" />
  <xs:complexType name="stockTakeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="stockTakeInfo" nillable="true" type="tns:stockTakeInfo" />
  <xs:complexType name="jsonIncident">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productID" type="xs:int" />
      <xs:element minOccurs="0" name="type" type="xs:int" />
      <xs:element minOccurs="0" name="userID" type="xs:int" />
      <xs:element minOccurs="0" name="warehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="jsonIncident" nillable="true" type="tns:jsonIncident" />
  <xs:complexType name="ArrayOfJsonWarehouse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JsonWarehouse" nillable="true" type="tns:JsonWarehouse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJsonWarehouse" nillable="true" type="tns:ArrayOfJsonWarehouse" />
  <xs:complexType name="ArrayOftransferStock">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="transferStock" nillable="true" type="tns:transferStock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftransferStock" nillable="true" type="tns:ArrayOftransferStock" />
  <xs:complexType name="transferStock">
    <xs:sequence>
      <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="size" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="transferStock" nillable="true" type="tns:transferStock" />
  <xs:complexType name="JsonProducts">
    <xs:sequence>
      <xs:element minOccurs="0" name="arrivalDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="bill" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cosigner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hscode" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="producttype" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
      <xs:element minOccurs="0" name="size" type="xs:int" />
      <xs:element minOccurs="0" name="tax" type="xs:double" />
      <xs:element minOccurs="0" name="userid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JsonProducts" nillable="true" type="tns:JsonProducts" />
  <xs:complexType name="ArrayOfJsonProducts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JsonProducts" nillable="true" type="tns:JsonProducts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJsonProducts" nillable="true" type="tns:ArrayOfJsonProducts" />
  <xs:complexType name="ArrayOfJsonReleaseRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JsonReleaseRequest" nillable="true" type="tns:JsonReleaseRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJsonReleaseRequest" nillable="true" type="tns:ArrayOfJsonReleaseRequest" />
  <xs:complexType name="JsonReleaseRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productInfo" nillable="true" type="tns:JsonProducts" />
      <xs:element minOccurs="0" name="product_id" type="xs:int" />
      <xs:element minOccurs="0" name="userInfo" nillable="true" type="tns:JsonUser" />
      <xs:element minOccurs="0" name="user_id" type="xs:int" />
      <xs:element minOccurs="0" name="verdict" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JsonReleaseRequest" nillable="true" type="tns:JsonReleaseRequest" />
  <xs:complexType name="JsonProductLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="logtype" type="xs:int" />
      <xs:element minOccurs="0" name="logtypename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="product_id" type="xs:int" />
      <xs:element minOccurs="0" name="userID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JsonProductLog" nillable="true" type="tns:JsonProductLog" />
  <xs:complexType name="ArrayOfJsonProductLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JsonProductLog" nillable="true" type="tns:JsonProductLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJsonProductLog" nillable="true" type="tns:ArrayOfJsonProductLog" />
  <xs:complexType name="ArrayOfJsonOwnershipReq">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JsonOwnershipReq" nillable="true" type="tns:JsonOwnershipReq" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJsonOwnershipReq" nillable="true" type="tns:ArrayOfJsonOwnershipReq" />
  <xs:complexType name="JsonOwnershipReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="acceptance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="newOwner" type="xs:int" />
      <xs:element minOccurs="0" name="newOwnerInfo" nillable="true" type="tns:JsonUser" />
      <xs:element minOccurs="0" name="prevInfo" nillable="true" type="tns:JsonUser" />
      <xs:element minOccurs="0" name="prevOwner" type="xs:int" />
      <xs:element minOccurs="0" name="prodInfo" nillable="true" type="tns:JsonProducts" />
      <xs:element minOccurs="0" name="product" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JsonOwnershipReq" nillable="true" type="tns:JsonOwnershipReq" />
  <xs:complexType name="JsonCountry">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JsonCountry" nillable="true" type="tns:JsonCountry" />
  <xs:complexType name="ArrayOfJsonInventory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JsonInventory" nillable="true" type="tns:JsonInventory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJsonInventory" nillable="true" type="tns:ArrayOfJsonInventory" />
  <xs:complexType name="JsonInventory">
    <xs:sequence>
      <xs:element minOccurs="0" name="arrivalDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="lastChecked" type="xs:dateTime" />
      <xs:element minOccurs="0" name="owner" nillable="true" type="tns:JsonUser" />
      <xs:element minOccurs="0" name="ownerid" type="xs:int" />
      <xs:element minOccurs="0" name="prodLocation" nillable="true" type="tns:jsonlocation" />
      <xs:element minOccurs="0" name="product" nillable="true" type="tns:JsonProducts" />
      <xs:element minOccurs="0" name="productID" type="xs:int" />
      <xs:element minOccurs="0" name="productType" type="xs:int" />
      <xs:element minOccurs="0" name="productTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
      <xs:element minOccurs="0" name="size" type="xs:int" />
      <xs:element minOccurs="0" name="warehouseID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JsonInventory" nillable="true" type="tns:JsonInventory" />
  <xs:complexType name="ArrayOfJsonProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JsonProductInfo" nillable="true" type="tns:JsonProductInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJsonProductInfo" nillable="true" type="tns:ArrayOfJsonProductInfo" />
  <xs:complexType name="JsonProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JsonProductInfo" nillable="true" type="tns:JsonProductInfo" />
  <xs:complexType name="JsonBillofEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="billCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="invoice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="origin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ownerEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="product" type="xs:int" />
      <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JsonBillofEntry" nillable="true" type="tns:JsonBillofEntry" />
  <xs:complexType name="ArrayOfJsonBillofEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JsonBillofEntry" nillable="true" type="tns:JsonBillofEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJsonBillofEntry" nillable="true" type="tns:ArrayOfJsonBillofEntry" />
  <xs:complexType name="JsonInvoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paid" type="xs:double" />
      <xs:element minOccurs="0" name="penalty" type="xs:double" />
      <xs:element minOccurs="0" name="vat" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JsonInvoice" nillable="true" type="tns:JsonInvoice" />
  <xs:complexType name="ArrayOfJsonMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JsonMessage" nillable="true" type="tns:JsonMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJsonMessage" nillable="true" type="tns:ArrayOfJsonMessage" />
  <xs:complexType name="JsonMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="convo_id" type="xs:int" />
      <xs:element minOccurs="0" name="from" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JsonMessage" nillable="true" type="tns:JsonMessage" />
  <xs:complexType name="ArrayOfjsonWarehouseAvailabilty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="jsonWarehouseAvailabilty" nillable="true" type="tns:jsonWarehouseAvailabilty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfjsonWarehouseAvailabilty" nillable="true" type="tns:ArrayOfjsonWarehouseAvailabilty" />
  <xs:complexType name="jsonWarehouseAvailabilty">
    <xs:sequence>
      <xs:element minOccurs="0" name="capacity" type="xs:int" />
      <xs:element minOccurs="0" name="size" type="xs:int" />
      <xs:element minOccurs="0" name="warehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="jsonWarehouseAvailabilty" nillable="true" type="tns:jsonWarehouseAvailabilty" />
  <xs:complexType name="ArrayOfPackageSizeCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackageSizeCategory" nillable="true" type="tns:PackageSizeCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackageSizeCategory" nillable="true" type="tns:ArrayOfPackageSizeCategory" />
  <xs:complexType name="PackageSizeCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="count" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackageSizeCategory" nillable="true" type="tns:PackageSizeCategory" />
  <xs:complexType name="ArrayOfWarehouseIncidentsGraph">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WarehouseIncidentsGraph" nillable="true" type="tns:WarehouseIncidentsGraph" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWarehouseIncidentsGraph" nillable="true" type="tns:ArrayOfWarehouseIncidentsGraph" />
  <xs:complexType name="WarehouseIncidentsGraph">
    <xs:sequence>
      <xs:element minOccurs="0" name="incidents" type="xs:int" />
      <xs:element minOccurs="0" name="warehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WarehouseIncidentsGraph" nillable="true" type="tns:WarehouseIncidentsGraph" />
  <xs:complexType name="ArrayOfWarehouseReleasescs">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WarehouseReleasescs" nillable="true" type="tns:WarehouseReleasescs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWarehouseReleasescs" nillable="true" type="tns:ArrayOfWarehouseReleasescs" />
  <xs:complexType name="WarehouseReleasescs">
    <xs:sequence>
      <xs:element minOccurs="0" name="releases" type="xs:int" />
      <xs:element minOccurs="0" name="warehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WarehouseReleasescs" nillable="true" type="tns:WarehouseReleasescs" />
  <xs:complexType name="ArrayOfPackagePerMonth">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PackagePerMonth" nillable="true" type="tns:PackagePerMonth" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPackagePerMonth" nillable="true" type="tns:ArrayOfPackagePerMonth" />
  <xs:complexType name="PackagePerMonth">
    <xs:sequence>
      <xs:element minOccurs="0" name="month" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="packages" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PackagePerMonth" nillable="true" type="tns:PackagePerMonth" />
  <xs:complexType name="ArrayOfOutgoingRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OutgoingRate" nillable="true" type="tns:OutgoingRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOutgoingRate" nillable="true" type="tns:ArrayOfOutgoingRate" />
  <xs:complexType name="OutgoingRate">
    <xs:sequence>
      <xs:element minOccurs="0" name="leaving" type="xs:int" />
      <xs:element minOccurs="0" name="warehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OutgoingRate" nillable="true" type="tns:OutgoingRate" />
  <xs:complexType name="ArrayOfWarehousesStorageRates">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WarehousesStorageRates" nillable="true" type="tns:WarehousesStorageRates" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWarehousesStorageRates" nillable="true" type="tns:ArrayOfWarehousesStorageRates" />
  <xs:complexType name="WarehousesStorageRates">
    <xs:sequence>
      <xs:element minOccurs="0" name="incoming" type="xs:int" />
      <xs:element minOccurs="0" name="outgoing" type="xs:int" />
      <xs:element minOccurs="0" name="warehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WarehousesStorageRates" nillable="true" type="tns:WarehousesStorageRates" />
  <xs:complexType name="ArrayOfWarehouseStorageRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WarehouseStorageRate" nillable="true" type="tns:WarehouseStorageRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWarehouseStorageRate" nillable="true" type="tns:ArrayOfWarehouseStorageRate" />
  <xs:complexType name="WarehouseStorageRate">
    <xs:sequence>
      <xs:element minOccurs="0" name="incoming" type="xs:int" />
      <xs:element minOccurs="0" name="month" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="outgoing" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WarehouseStorageRate" nillable="true" type="tns:WarehouseStorageRate" />
  <xs:complexType name="ArrayOfStorageFilledBy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StorageFilledBy" nillable="true" type="tns:StorageFilledBy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStorageFilledBy" nillable="true" type="tns:ArrayOfStorageFilledBy" />
  <xs:complexType name="StorageFilledBy">
    <xs:sequence>
      <xs:element minOccurs="0" name="DaysTilFull" type="xs:double" />
      <xs:element minOccurs="0" name="warehouse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StorageFilledBy" nillable="true" type="tns:StorageFilledBy" />
  <xs:complexType name="ArrayOfincidentsperisle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="incidentsperisle" nillable="true" type="tns:incidentsperisle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfincidentsperisle" nillable="true" type="tns:ArrayOfincidentsperisle" />
  <xs:complexType name="incidentsperisle">
    <xs:sequence>
      <xs:element minOccurs="0" name="incidents" type="xs:int" />
      <xs:element minOccurs="0" name="isle" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="incidentsperisle" nillable="true" type="tns:incidentsperisle" />
  <xs:complexType name="ArrayOfReleasesPerMonth">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReleasesPerMonth" nillable="true" type="tns:ReleasesPerMonth" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReleasesPerMonth" nillable="true" type="tns:ArrayOfReleasesPerMonth" />
  <xs:complexType name="ReleasesPerMonth">
    <xs:sequence>
      <xs:element minOccurs="0" name="month" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="releases" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReleasesPerMonth" nillable="true" type="tns:ReleasesPerMonth" />
  <xs:complexType name="ArrayOfJsonCountryPercentage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JsonCountryPercentage" nillable="true" type="tns:JsonCountryPercentage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJsonCountryPercentage" nillable="true" type="tns:ArrayOfJsonCountryPercentage" />
  <xs:complexType name="JsonCountryPercentage">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="percentage" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JsonCountryPercentage" nillable="true" type="tns:JsonCountryPercentage" />
  <xs:complexType name="JsonTax">
    <xs:sequence>
      <xs:element minOccurs="0" name="penalty" type="xs:double" />
      <xs:element minOccurs="0" name="total" type="xs:double" />
      <xs:element minOccurs="0" name="vat" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JsonTax" nillable="true" type="tns:JsonTax" />
  <xs:complexType name="ArrayOfReleaseProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReleaseProduct" nillable="true" type="tns:ReleaseProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReleaseProduct" nillable="true" type="tns:ArrayOfReleaseProduct" />
  <xs:complexType name="ReleaseProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="invoiceTotal" type="xs:double" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="productID" type="xs:int" />
      <xs:element minOccurs="0" name="requested" type="xs:dateTime" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReleaseProduct" nillable="true" type="tns:ReleaseProduct" />
</xs:schema>