CiroWebsite/CiroWebsite/Service References/CiroService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50983/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50983/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50983/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_PackageHeightCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:PackageHeightCategories" />
  </wsdl:message>
  <wsdl:message name="IService1_PackageHeightCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:PackageHeightCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PackagewidthCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:PackagewidthCategories" />
  </wsdl:message>
  <wsdl:message name="IService1_PackagewidthCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:PackagewidthCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WarehouseIncidents_InputMessage">
    <wsdl:part name="parameters" element="tns:WarehouseIncidents" />
  </wsdl:message>
  <wsdl:message name="IService1_WarehouseIncidents_OutputMessage">
    <wsdl:part name="parameters" element="tns:WarehouseIncidentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WarehouseReleases_InputMessage">
    <wsdl:part name="parameters" element="tns:WarehouseReleases" />
  </wsdl:message>
  <wsdl:message name="IService1_WarehouseReleases_OutputMessage">
    <wsdl:part name="parameters" element="tns:WarehouseReleasesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PackagesPerMonth_InputMessage">
    <wsdl:part name="parameters" element="tns:PackagesPerMonth" />
  </wsdl:message>
  <wsdl:message name="IService1_PackagesPerMonth_OutputMessage">
    <wsdl:part name="parameters" element="tns:PackagesPerMonthResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IncidentsLastMonth_InputMessage">
    <wsdl:part name="parameters" element="tns:IncidentsLastMonth" />
  </wsdl:message>
  <wsdl:message name="IService1_IncidentsLastMonth_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncidentsLastMonthResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_StorageRates_InputMessage">
    <wsdl:part name="parameters" element="tns:StorageRates" />
  </wsdl:message>
  <wsdl:message name="IService1_StorageRates_OutputMessage">
    <wsdl:part name="parameters" element="tns:StorageRatesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_StorageRate_InputMessage">
    <wsdl:part name="parameters" element="tns:StorageRate" />
  </wsdl:message>
  <wsdl:message name="IService1_StorageRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:StorageRateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_StorageFilledBy_InputMessage">
    <wsdl:part name="parameters" element="tns:StorageFilledBy" />
  </wsdl:message>
  <wsdl:message name="IService1_StorageFilledBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:StorageFilledByResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getCountryP_InputMessage">
    <wsdl:part name="parameters" element="tns:getCountryP" />
  </wsdl:message>
  <wsdl:message name="IService1_getCountryP_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCountryPResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getOutstandingTax_InputMessage">
    <wsdl:part name="parameters" element="tns:getOutstandingTax" />
  </wsdl:message>
  <wsdl:message name="IService1_getOutstandingTax_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOutstandingTaxResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAverageTax_InputMessage">
    <wsdl:part name="parameters" element="tns:getAverageTax" />
  </wsdl:message>
  <wsdl:message name="IService1_getAverageTax_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAverageTaxResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_releaseWareHouse_InputMessage">
    <wsdl:part name="parameters" element="tns:releaseWareHouse" />
  </wsdl:message>
  <wsdl:message name="IService1_releaseWareHouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:releaseWareHouseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_transferWareHouse_InputMessage">
    <wsdl:part name="parameters" element="tns:transferWareHouse" />
  </wsdl:message>
  <wsdl:message name="IService1_transferWareHouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:transferWareHouseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addTask_InputMessage">
    <wsdl:part name="parameters" element="tns:addTask" />
  </wsdl:message>
  <wsdl:message name="IService1_addTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:addTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:getTasks" />
  </wsdl:message>
  <wsdl:message name="IService1_getTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTasksResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_completeTask_InputMessage">
    <wsdl:part name="parameters" element="tns:completeTask" />
  </wsdl:message>
  <wsdl:message name="IService1_completeTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:completeTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getWarehouseSection_InputMessage">
    <wsdl:part name="parameters" element="tns:getWarehouseSection" />
  </wsdl:message>
  <wsdl:message name="IService1_getWarehouseSection_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWarehouseSectionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:addEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_addEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:addEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getWarehouseTask_InputMessage">
    <wsdl:part name="parameters" element="tns:getWarehouseTask" />
  </wsdl:message>
  <wsdl:message name="IService1_getWarehouseTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWarehouseTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:getEmployees" />
  </wsdl:message>
  <wsdl:message name="IService1_getEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IService1_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_clientProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:clientProducts" />
  </wsdl:message>
  <wsdl:message name="IService1_clientProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:clientProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_listTransferTRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:listTransferTRequests" />
  </wsdl:message>
  <wsdl:message name="IService1_listTransferTRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:listTransferTRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_transeferRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:transeferRequest" />
  </wsdl:message>
  <wsdl:message name="IService1_transeferRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:transeferRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_transferList_InputMessage">
    <wsdl:part name="parameters" element="tns:transferList" />
  </wsdl:message>
  <wsdl:message name="IService1_transferList_OutputMessage">
    <wsdl:part name="parameters" element="tns:transferListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_stockTake_InputMessage">
    <wsdl:part name="parameters" element="tns:stockTake" />
  </wsdl:message>
  <wsdl:message name="IService1_stockTake_OutputMessage">
    <wsdl:part name="parameters" element="tns:stockTakeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_stockAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:stockAdd" />
  </wsdl:message>
  <wsdl:message name="IService1_stockAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:stockAddResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_taskList_InputMessage">
    <wsdl:part name="parameters" element="tns:taskList" />
  </wsdl:message>
  <wsdl:message name="IService1_taskList_OutputMessage">
    <wsdl:part name="parameters" element="tns:taskListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addIncident_InputMessage">
    <wsdl:part name="parameters" element="tns:addIncident" />
  </wsdl:message>
  <wsdl:message name="IService1_addIncident_OutputMessage">
    <wsdl:part name="parameters" element="tns:addIncidentResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_warehouseInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:warehouseInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_warehouseInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:warehouseInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_warehouses_InputMessage">
    <wsdl:part name="parameters" element="tns:warehouses" />
  </wsdl:message>
  <wsdl:message name="IService1_warehouses_OutputMessage">
    <wsdl:part name="parameters" element="tns:warehousesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_stockleavingWarehouse_InputMessage">
    <wsdl:part name="parameters" element="tns:stockleavingWarehouse" />
  </wsdl:message>
  <wsdl:message name="IService1_stockleavingWarehouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:stockleavingWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_register_InputMessage">
    <wsdl:part name="parameters" element="tns:register" />
  </wsdl:message>
  <wsdl:message name="IService1_register_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:updateUser" />
  </wsdl:message>
  <wsdl:message name="IService1_updateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageID_InputMessage">
    <wsdl:part name="parameters" element="tns:getPackageID" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPackageIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageType_InputMessage">
    <wsdl:part name="parameters" element="tns:getPackageType" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageType_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPackageTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:getPackageOwner" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageOwner_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPackageOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageDate_InputMessage">
    <wsdl:part name="parameters" element="tns:getPackageDate" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPackageDateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageDest_InputMessage">
    <wsdl:part name="parameters" element="tns:getPackageDest" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageDest_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPackageDestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:getPackageLocation" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPackageLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addPackage_InputMessage">
    <wsdl:part name="parameters" element="tns:addPackage" />
  </wsdl:message>
  <wsdl:message name="IService1_addPackage_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPackageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updatePackage_InputMessage">
    <wsdl:part name="parameters" element="tns:updatePackage" />
  </wsdl:message>
  <wsdl:message name="IService1_updatePackage_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatePackageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updatePackageWLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:updatePackageWLocation" />
  </wsdl:message>
  <wsdl:message name="IService1_updatePackageWLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatePackageWLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_releaseRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:releaseRequest" />
  </wsdl:message>
  <wsdl:message name="IService1_releaseRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:releaseRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getRelease_InputMessage">
    <wsdl:part name="parameters" element="tns:getRelease" />
  </wsdl:message>
  <wsdl:message name="IService1_getRelease_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReleaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getReleaseRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:getReleaseRequests" />
  </wsdl:message>
  <wsdl:message name="IService1_getReleaseRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReleaseRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addProductLog_InputMessage">
    <wsdl:part name="parameters" element="tns:addProductLog" />
  </wsdl:message>
  <wsdl:message name="IService1_addProductLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:addProductLogResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getProductLog_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductLog" />
  </wsdl:message>
  <wsdl:message name="IService1_getProductLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductLogResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getWarehouse_InputMessage">
    <wsdl:part name="parameters" element="tns:getWarehouse" />
  </wsdl:message>
  <wsdl:message name="IService1_getWarehouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_approveTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:approveTransfer" />
  </wsdl:message>
  <wsdl:message name="IService1_approveTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:approveTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_approveRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:approveRequest" />
  </wsdl:message>
  <wsdl:message name="IService1_approveRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:approveRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_paypal_InputMessage">
    <wsdl:part name="parameters" element="tns:paypal" />
  </wsdl:message>
  <wsdl:message name="IService1_paypal_OutputMessage">
    <wsdl:part name="parameters" element="tns:paypalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_OwnershipRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:OwnershipRequest" />
  </wsdl:message>
  <wsdl:message name="IService1_OwnershipRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:OwnershipRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_approveOwnershipRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:approveOwnershipRequest" />
  </wsdl:message>
  <wsdl:message name="IService1_approveOwnershipRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:approveOwnershipRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getOwnershipRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:getOwnershipRequest" />
  </wsdl:message>
  <wsdl:message name="IService1_getOwnershipRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOwnershipRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getTraderInStock_InputMessage">
    <wsdl:part name="parameters" element="tns:getTraderInStock" />
  </wsdl:message>
  <wsdl:message name="IService1_getTraderInStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTraderInStockResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addWarehouse_InputMessage">
    <wsdl:part name="parameters" element="tns:addWarehouse" />
  </wsdl:message>
  <wsdl:message name="IService1_addWarehouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:addWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:addCountry" />
  </wsdl:message>
  <wsdl:message name="IService1_addCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCountryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getWarehouseInventory_InputMessage">
    <wsdl:part name="parameters" element="tns:getWarehouseInventory" />
  </wsdl:message>
  <wsdl:message name="IService1_getWarehouseInventory_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWarehouseInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WarehouseInventory_InputMessage">
    <wsdl:part name="parameters" element="tns:WarehouseInventory" />
  </wsdl:message>
  <wsdl:message name="IService1_WarehouseInventory_OutputMessage">
    <wsdl:part name="parameters" element="tns:WarehouseInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addWarehouseMan_InputMessage">
    <wsdl:part name="parameters" element="tns:addWarehouseMan" />
  </wsdl:message>
  <wsdl:message name="IService1_addWarehouseMan_OutputMessage">
    <wsdl:part name="parameters" element="tns:addWarehouseManResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getWarehouseI_InputMessage">
    <wsdl:part name="parameters" element="tns:getWarehouseI" />
  </wsdl:message>
  <wsdl:message name="IService1_getWarehouseI_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWarehouseIResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getUser" />
  </wsdl:message>
  <wsdl:message name="IService1_getUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getBill_InputMessage">
    <wsdl:part name="parameters" element="tns:getBill" />
  </wsdl:message>
  <wsdl:message name="IService1_getBill_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBillResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:addInvoice" />
  </wsdl:message>
  <wsdl:message name="IService1_addInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:addInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:getInvoice" />
  </wsdl:message>
  <wsdl:message name="IService1_getInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:getInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addTax_InputMessage">
    <wsdl:part name="parameters" element="tns:addTax" />
  </wsdl:message>
  <wsdl:message name="IService1_addTax_OutputMessage">
    <wsdl:part name="parameters" element="tns:addTaxResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:getMessage" />
  </wsdl:message>
  <wsdl:message name="IService1_getMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getUserOwnershipRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserOwnershipRequest" />
  </wsdl:message>
  <wsdl:message name="IService1_getUserOwnershipRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserOwnershipRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:sendMessage" />
  </wsdl:message>
  <wsdl:message name="IService1_sendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_payTax_InputMessage">
    <wsdl:part name="parameters" element="tns:payTax" />
  </wsdl:message>
  <wsdl:message name="IService1_payTax_OutputMessage">
    <wsdl:part name="parameters" element="tns:payTaxResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_findavailablelocation_InputMessage">
    <wsdl:part name="parameters" element="tns:findavailablelocation" />
  </wsdl:message>
  <wsdl:message name="IService1_findavailablelocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:findavailablelocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_findlocation_InputMessage">
    <wsdl:part name="parameters" element="tns:findlocation" />
  </wsdl:message>
  <wsdl:message name="IService1_findlocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:findlocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addlocation_InputMessage">
    <wsdl:part name="parameters" element="tns:addlocation" />
  </wsdl:message>
  <wsdl:message name="IService1_addlocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:addlocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageInWarehouse_InputMessage">
    <wsdl:part name="parameters" element="tns:getPackageInWarehouse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPackageInWarehouse_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPackageInWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_occupylocation_InputMessage">
    <wsdl:part name="parameters" element="tns:occupylocation" />
  </wsdl:message>
  <wsdl:message name="IService1_occupylocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:occupylocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Reservelocation_InputMessage">
    <wsdl:part name="parameters" element="tns:Reservelocation" />
  </wsdl:message>
  <wsdl:message name="IService1_Reservelocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReservelocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_vacatelocation_InputMessage">
    <wsdl:part name="parameters" element="tns:vacatelocation" />
  </wsdl:message>
  <wsdl:message name="IService1_vacatelocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:vacatelocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getWarehouseLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:getWarehouseLocations" />
  </wsdl:message>
  <wsdl:message name="IService1_getWarehouseLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWarehouseLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updateSection_InputMessage">
    <wsdl:part name="parameters" element="tns:updateSection" />
  </wsdl:message>
  <wsdl:message name="IService1_updateSection_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateSectionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WarehouseAvailabilityGraph_InputMessage">
    <wsdl:part name="parameters" element="tns:WarehouseAvailabilityGraph" />
  </wsdl:message>
  <wsdl:message name="IService1_WarehouseAvailabilityGraph_OutputMessage">
    <wsdl:part name="parameters" element="tns:WarehouseAvailabilityGraphResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PackageLengthCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:PackageLengthCategories" />
  </wsdl:message>
  <wsdl:message name="IService1_PackageLengthCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:PackageLengthCategoriesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="PackageHeightCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PackageHeightCategories" message="tns:IService1_PackageHeightCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PackageHeightCategoriesResponse" message="tns:IService1_PackageHeightCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PackagewidthCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PackagewidthCategories" message="tns:IService1_PackagewidthCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PackagewidthCategoriesResponse" message="tns:IService1_PackagewidthCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WarehouseIncidents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WarehouseIncidents" message="tns:IService1_WarehouseIncidents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WarehouseIncidentsResponse" message="tns:IService1_WarehouseIncidents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WarehouseReleases">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WarehouseReleases" message="tns:IService1_WarehouseReleases_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WarehouseReleasesResponse" message="tns:IService1_WarehouseReleases_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PackagesPerMonth">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PackagesPerMonth" message="tns:IService1_PackagesPerMonth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PackagesPerMonthResponse" message="tns:IService1_PackagesPerMonth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncidentsLastMonth">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IncidentsLastMonth" message="tns:IService1_IncidentsLastMonth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IncidentsLastMonthResponse" message="tns:IService1_IncidentsLastMonth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StorageRates">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/StorageRates" message="tns:IService1_StorageRates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StorageRatesResponse" message="tns:IService1_StorageRates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StorageRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/StorageRate" message="tns:IService1_StorageRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StorageRateResponse" message="tns:IService1_StorageRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StorageFilledBy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/StorageFilledBy" message="tns:IService1_StorageFilledBy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StorageFilledByResponse" message="tns:IService1_StorageFilledBy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCountryP">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getCountryP" message="tns:IService1_getCountryP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getCountryPResponse" message="tns:IService1_getCountryP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOutstandingTax">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getOutstandingTax" message="tns:IService1_getOutstandingTax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getOutstandingTaxResponse" message="tns:IService1_getOutstandingTax_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAverageTax">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAverageTax" message="tns:IService1_getAverageTax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAverageTaxResponse" message="tns:IService1_getAverageTax_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="releaseWareHouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/releaseWareHouse" message="tns:IService1_releaseWareHouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/releaseWareHouseResponse" message="tns:IService1_releaseWareHouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="transferWareHouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/transferWareHouse" message="tns:IService1_transferWareHouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/transferWareHouseResponse" message="tns:IService1_transferWareHouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addTask" message="tns:IService1_addTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addTaskResponse" message="tns:IService1_addTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getTasks" message="tns:IService1_getTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getTasksResponse" message="tns:IService1_getTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="completeTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/completeTask" message="tns:IService1_completeTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/completeTaskResponse" message="tns:IService1_completeTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getWarehouseSection">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getWarehouseSection" message="tns:IService1_getWarehouseSection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getWarehouseSectionResponse" message="tns:IService1_getWarehouseSection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addEmployee" message="tns:IService1_addEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addEmployeeResponse" message="tns:IService1_addEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getWarehouseTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getWarehouseTask" message="tns:IService1_getWarehouseTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getWarehouseTaskResponse" message="tns:IService1_getWarehouseTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getEmployees" message="tns:IService1_getEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getEmployeesResponse" message="tns:IService1_getEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUsers" message="tns:IService1_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUsersResponse" message="tns:IService1_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/login" message="tns:IService1_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loginResponse" message="tns:IService1_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="clientProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/clientProducts" message="tns:IService1_clientProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/clientProductsResponse" message="tns:IService1_clientProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listTransferTRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/listTransferTRequests" message="tns:IService1_listTransferTRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/listTransferTRequestsResponse" message="tns:IService1_listTransferTRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="transeferRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/transeferRequest" message="tns:IService1_transeferRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/transeferRequestResponse" message="tns:IService1_transeferRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="transferList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/transferList" message="tns:IService1_transferList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/transferListResponse" message="tns:IService1_transferList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="stockTake">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/stockTake" message="tns:IService1_stockTake_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/stockTakeResponse" message="tns:IService1_stockTake_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="stockAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/stockAdd" message="tns:IService1_stockAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/stockAddResponse" message="tns:IService1_stockAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="taskList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/taskList" message="tns:IService1_taskList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/taskListResponse" message="tns:IService1_taskList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addIncident">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addIncident" message="tns:IService1_addIncident_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addIncidentResponse" message="tns:IService1_addIncident_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="warehouseInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/warehouseInfo" message="tns:IService1_warehouseInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/warehouseInfoResponse" message="tns:IService1_warehouseInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="warehouses">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/warehouses" message="tns:IService1_warehouses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/warehousesResponse" message="tns:IService1_warehouses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="stockleavingWarehouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/stockleavingWarehouse" message="tns:IService1_stockleavingWarehouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/stockleavingWarehouseResponse" message="tns:IService1_stockleavingWarehouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/register" message="tns:IService1_register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/registerResponse" message="tns:IService1_register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updateUser" message="tns:IService1_updateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updateUserResponse" message="tns:IService1_updateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPackageID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPackageID" message="tns:IService1_getPackageID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPackageIDResponse" message="tns:IService1_getPackageID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPackageType">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPackageType" message="tns:IService1_getPackageType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPackageTypeResponse" message="tns:IService1_getPackageType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPackageOwner">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPackageOwner" message="tns:IService1_getPackageOwner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPackageOwnerResponse" message="tns:IService1_getPackageOwner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPackageDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPackageDate" message="tns:IService1_getPackageDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPackageDateResponse" message="tns:IService1_getPackageDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPackageDest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPackageDest" message="tns:IService1_getPackageDest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPackageDestResponse" message="tns:IService1_getPackageDest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPackageLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPackageLocation" message="tns:IService1_getPackageLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPackageLocationResponse" message="tns:IService1_getPackageLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPackage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addPackage" message="tns:IService1_addPackage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addPackageResponse" message="tns:IService1_addPackage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatePackage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updatePackage" message="tns:IService1_updatePackage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updatePackageResponse" message="tns:IService1_updatePackage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatePackageWLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updatePackageWLocation" message="tns:IService1_updatePackageWLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updatePackageWLocationResponse" message="tns:IService1_updatePackageWLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="releaseRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/releaseRequest" message="tns:IService1_releaseRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/releaseRequestResponse" message="tns:IService1_releaseRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRelease">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getRelease" message="tns:IService1_getRelease_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getReleaseResponse" message="tns:IService1_getRelease_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReleaseRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getReleaseRequests" message="tns:IService1_getReleaseRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getReleaseRequestsResponse" message="tns:IService1_getReleaseRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addProductLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addProductLog" message="tns:IService1_addProductLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addProductLogResponse" message="tns:IService1_addProductLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getProductLog" message="tns:IService1_getProductLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getProductLogResponse" message="tns:IService1_getProductLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getWarehouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getWarehouse" message="tns:IService1_getWarehouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getWarehouseResponse" message="tns:IService1_getWarehouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="approveTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/approveTransfer" message="tns:IService1_approveTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/approveTransferResponse" message="tns:IService1_approveTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="approveRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/approveRequest" message="tns:IService1_approveRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/approveRequestResponse" message="tns:IService1_approveRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="paypal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/paypal" message="tns:IService1_paypal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/paypalResponse" message="tns:IService1_paypal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OwnershipRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OwnershipRequest" message="tns:IService1_OwnershipRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OwnershipRequestResponse" message="tns:IService1_OwnershipRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="approveOwnershipRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/approveOwnershipRequest" message="tns:IService1_approveOwnershipRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/approveOwnershipRequestResponse" message="tns:IService1_approveOwnershipRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOwnershipRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getOwnershipRequest" message="tns:IService1_getOwnershipRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getOwnershipRequestResponse" message="tns:IService1_getOwnershipRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTraderInStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getTraderInStock" message="tns:IService1_getTraderInStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getTraderInStockResponse" message="tns:IService1_getTraderInStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addWarehouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addWarehouse" message="tns:IService1_addWarehouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addWarehouseResponse" message="tns:IService1_addWarehouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addCountry" message="tns:IService1_addCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addCountryResponse" message="tns:IService1_addCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getWarehouseInventory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getWarehouseInventory" message="tns:IService1_getWarehouseInventory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getWarehouseInventoryResponse" message="tns:IService1_getWarehouseInventory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WarehouseInventory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WarehouseInventory" message="tns:IService1_WarehouseInventory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WarehouseInventoryResponse" message="tns:IService1_WarehouseInventory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addWarehouseMan">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addWarehouseMan" message="tns:IService1_addWarehouseMan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addWarehouseManResponse" message="tns:IService1_addWarehouseMan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getWarehouseI">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getWarehouseI" message="tns:IService1_getWarehouseI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getWarehouseIResponse" message="tns:IService1_getWarehouseI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getUser" message="tns:IService1_getUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getUserResponse" message="tns:IService1_getUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBill">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getBill" message="tns:IService1_getBill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getBillResponse" message="tns:IService1_getBill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addInvoice" message="tns:IService1_addInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addInvoiceResponse" message="tns:IService1_addInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getInvoice" message="tns:IService1_getInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getInvoiceResponse" message="tns:IService1_getInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addTax">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addTax" message="tns:IService1_addTax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addTaxResponse" message="tns:IService1_addTax_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getMessage" message="tns:IService1_getMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getMessageResponse" message="tns:IService1_getMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserOwnershipRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getUserOwnershipRequest" message="tns:IService1_getUserOwnershipRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getUserOwnershipRequestResponse" message="tns:IService1_getUserOwnershipRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sendMessage" message="tns:IService1_sendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sendMessageResponse" message="tns:IService1_sendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="payTax">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/payTax" message="tns:IService1_payTax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/payTaxResponse" message="tns:IService1_payTax_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findavailablelocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/findavailablelocation" message="tns:IService1_findavailablelocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/findavailablelocationResponse" message="tns:IService1_findavailablelocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findlocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/findlocation" message="tns:IService1_findlocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/findlocationResponse" message="tns:IService1_findlocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addlocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addlocation" message="tns:IService1_addlocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addlocationResponse" message="tns:IService1_addlocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPackageInWarehouse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPackageInWarehouse" message="tns:IService1_getPackageInWarehouse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPackageInWarehouseResponse" message="tns:IService1_getPackageInWarehouse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="occupylocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/occupylocation" message="tns:IService1_occupylocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/occupylocationResponse" message="tns:IService1_occupylocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reservelocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Reservelocation" message="tns:IService1_Reservelocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReservelocationResponse" message="tns:IService1_Reservelocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="vacatelocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/vacatelocation" message="tns:IService1_vacatelocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/vacatelocationResponse" message="tns:IService1_vacatelocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getWarehouseLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getWarehouseLocations" message="tns:IService1_getWarehouseLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getWarehouseLocationsResponse" message="tns:IService1_getWarehouseLocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateSection">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updateSection" message="tns:IService1_updateSection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updateSectionResponse" message="tns:IService1_updateSection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WarehouseAvailabilityGraph">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WarehouseAvailabilityGraph" message="tns:IService1_WarehouseAvailabilityGraph_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WarehouseAvailabilityGraphResponse" message="tns:IService1_WarehouseAvailabilityGraph_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PackageLengthCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PackageLengthCategories" message="tns:IService1_PackageLengthCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PackageLengthCategoriesResponse" message="tns:IService1_PackageLengthCategories_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPEndPoint" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PackageHeightCategories">
      <soap:operation soapAction="http://tempuri.org/IService1/PackageHeightCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PackagewidthCategories">
      <soap:operation soapAction="http://tempuri.org/IService1/PackagewidthCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WarehouseIncidents">
      <soap:operation soapAction="http://tempuri.org/IService1/WarehouseIncidents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WarehouseReleases">
      <soap:operation soapAction="http://tempuri.org/IService1/WarehouseReleases" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PackagesPerMonth">
      <soap:operation soapAction="http://tempuri.org/IService1/PackagesPerMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncidentsLastMonth">
      <soap:operation soapAction="http://tempuri.org/IService1/IncidentsLastMonth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StorageRates">
      <soap:operation soapAction="http://tempuri.org/IService1/StorageRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StorageRate">
      <soap:operation soapAction="http://tempuri.org/IService1/StorageRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StorageFilledBy">
      <soap:operation soapAction="http://tempuri.org/IService1/StorageFilledBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCountryP">
      <soap:operation soapAction="http://tempuri.org/IService1/getCountryP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOutstandingTax">
      <soap:operation soapAction="http://tempuri.org/IService1/getOutstandingTax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAverageTax">
      <soap:operation soapAction="http://tempuri.org/IService1/getAverageTax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="releaseWareHouse">
      <soap:operation soapAction="http://tempuri.org/IService1/releaseWareHouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="transferWareHouse">
      <soap:operation soapAction="http://tempuri.org/IService1/transferWareHouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTask">
      <soap:operation soapAction="http://tempuri.org/IService1/addTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTasks">
      <soap:operation soapAction="http://tempuri.org/IService1/getTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="completeTask">
      <soap:operation soapAction="http://tempuri.org/IService1/completeTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWarehouseSection">
      <soap:operation soapAction="http://tempuri.org/IService1/getWarehouseSection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/addEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWarehouseTask">
      <soap:operation soapAction="http://tempuri.org/IService1/getWarehouseTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployees">
      <soap:operation soapAction="http://tempuri.org/IService1/getEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IService1/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clientProducts">
      <soap:operation soapAction="http://tempuri.org/IService1/clientProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listTransferTRequests">
      <soap:operation soapAction="http://tempuri.org/IService1/listTransferTRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="transeferRequest">
      <soap:operation soapAction="http://tempuri.org/IService1/transeferRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="transferList">
      <soap:operation soapAction="http://tempuri.org/IService1/transferList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stockTake">
      <soap:operation soapAction="http://tempuri.org/IService1/stockTake" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stockAdd">
      <soap:operation soapAction="http://tempuri.org/IService1/stockAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="taskList">
      <soap:operation soapAction="http://tempuri.org/IService1/taskList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addIncident">
      <soap:operation soapAction="http://tempuri.org/IService1/addIncident" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="warehouseInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/warehouseInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="warehouses">
      <soap:operation soapAction="http://tempuri.org/IService1/warehouses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stockleavingWarehouse">
      <soap:operation soapAction="http://tempuri.org/IService1/stockleavingWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction="http://tempuri.org/IService1/register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap:operation soapAction="http://tempuri.org/IService1/updateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPackageID">
      <soap:operation soapAction="http://tempuri.org/IService1/getPackageID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPackageType">
      <soap:operation soapAction="http://tempuri.org/IService1/getPackageType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPackageOwner">
      <soap:operation soapAction="http://tempuri.org/IService1/getPackageOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPackageDate">
      <soap:operation soapAction="http://tempuri.org/IService1/getPackageDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPackageDest">
      <soap:operation soapAction="http://tempuri.org/IService1/getPackageDest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPackageLocation">
      <soap:operation soapAction="http://tempuri.org/IService1/getPackageLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPackage">
      <soap:operation soapAction="http://tempuri.org/IService1/addPackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePackage">
      <soap:operation soapAction="http://tempuri.org/IService1/updatePackage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePackageWLocation">
      <soap:operation soapAction="http://tempuri.org/IService1/updatePackageWLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="releaseRequest">
      <soap:operation soapAction="http://tempuri.org/IService1/releaseRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelease">
      <soap:operation soapAction="http://tempuri.org/IService1/getRelease" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReleaseRequests">
      <soap:operation soapAction="http://tempuri.org/IService1/getReleaseRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addProductLog">
      <soap:operation soapAction="http://tempuri.org/IService1/addProductLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductLog">
      <soap:operation soapAction="http://tempuri.org/IService1/getProductLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWarehouse">
      <soap:operation soapAction="http://tempuri.org/IService1/getWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="approveTransfer">
      <soap:operation soapAction="http://tempuri.org/IService1/approveTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="approveRequest">
      <soap:operation soapAction="http://tempuri.org/IService1/approveRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="paypal">
      <soap:operation soapAction="http://tempuri.org/IService1/paypal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OwnershipRequest">
      <soap:operation soapAction="http://tempuri.org/IService1/OwnershipRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="approveOwnershipRequest">
      <soap:operation soapAction="http://tempuri.org/IService1/approveOwnershipRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOwnershipRequest">
      <soap:operation soapAction="http://tempuri.org/IService1/getOwnershipRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTraderInStock">
      <soap:operation soapAction="http://tempuri.org/IService1/getTraderInStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addWarehouse">
      <soap:operation soapAction="http://tempuri.org/IService1/addWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCountry">
      <soap:operation soapAction="http://tempuri.org/IService1/addCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWarehouseInventory">
      <soap:operation soapAction="http://tempuri.org/IService1/getWarehouseInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WarehouseInventory">
      <soap:operation soapAction="http://tempuri.org/IService1/WarehouseInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addWarehouseMan">
      <soap:operation soapAction="http://tempuri.org/IService1/addWarehouseMan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWarehouseI">
      <soap:operation soapAction="http://tempuri.org/IService1/getWarehouseI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="http://tempuri.org/IService1/getUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBill">
      <soap:operation soapAction="http://tempuri.org/IService1/getBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addInvoice">
      <soap:operation soapAction="http://tempuri.org/IService1/addInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInvoice">
      <soap:operation soapAction="http://tempuri.org/IService1/getInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTax">
      <soap:operation soapAction="http://tempuri.org/IService1/addTax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessage">
      <soap:operation soapAction="http://tempuri.org/IService1/getMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserOwnershipRequest">
      <soap:operation soapAction="http://tempuri.org/IService1/getUserOwnershipRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <soap:operation soapAction="http://tempuri.org/IService1/sendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="payTax">
      <soap:operation soapAction="http://tempuri.org/IService1/payTax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findavailablelocation">
      <soap:operation soapAction="http://tempuri.org/IService1/findavailablelocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findlocation">
      <soap:operation soapAction="http://tempuri.org/IService1/findlocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addlocation">
      <soap:operation soapAction="http://tempuri.org/IService1/addlocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPackageInWarehouse">
      <soap:operation soapAction="http://tempuri.org/IService1/getPackageInWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="occupylocation">
      <soap:operation soapAction="http://tempuri.org/IService1/occupylocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reservelocation">
      <soap:operation soapAction="http://tempuri.org/IService1/Reservelocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="vacatelocation">
      <soap:operation soapAction="http://tempuri.org/IService1/vacatelocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWarehouseLocations">
      <soap:operation soapAction="http://tempuri.org/IService1/getWarehouseLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSection">
      <soap:operation soapAction="http://tempuri.org/IService1/updateSection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WarehouseAvailabilityGraph">
      <soap:operation soapAction="http://tempuri.org/IService1/WarehouseAvailabilityGraph" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PackageLengthCategories">
      <soap:operation soapAction="http://tempuri.org/IService1/PackageLengthCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="SOAPEndPoint" binding="tns:SOAPEndPoint">
      <soap:address location="http://localhost:50983/Service1.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>