CiroWebsite/CiroWebsite/Service References/CiroService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50983/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" />
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="GetUsersResult" nillable="true" type="q1:ArrayOfJsonUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="login" nillable="true" type="q2:jsonLoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="loginResult" nillable="true" type="q3:JsonUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clientProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="user" nillable="true" type="q4:JsonUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clientProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="clientProductsResult" nillable="true" type="q5:ArrayOfjsonProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listTransferTRequests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listTransferTRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="listTransferTRequestsResult" nillable="true" type="q6:ArrayOfTransferDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transeferRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="newRequest" nillable="true" type="q7:ArrayOfjsonTRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transeferRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transeferRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transferList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="transferListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="transferListResult" nillable="true" type="q8:ArrayOfTransferDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stockTake">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="stockTake" nillable="true" type="q9:stockTakeInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stockTakeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stockTakeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stockAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="origin" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="newProduct" nillable="true" type="q10:ArrayOfjsonProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stockAddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="taskList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="taskListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="taskListResult" nillable="true" type="q11:ArrayOfJsonTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addIncident">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="newIncident" nillable="true" type="q12:jsonIncident" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addIncidentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="warehouseInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="warehouseInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="warehouseInfoResult" nillable="true" type="q13:JsonWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="warehouses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="warehousesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="warehousesResult" nillable="true" type="q14:ArrayOfJsonWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stockleavingWarehouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stockleavingWarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="stockleavingWarehouseResult" nillable="true" type="q15:ArrayOftransferStock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="regUser" nillable="true" type="q16:JsonUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="updateUsr" nillable="true" type="q17:JsonUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getPackageIDResult" nillable="true" type="q18:JsonProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getPackageTypeResult" nillable="true" type="q19:ArrayOfJsonProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageOwnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getPackageOwnerResult" nillable="true" type="q20:ArrayOfJsonProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPackageDateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageDest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dest" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageDestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPackageDestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPackageLocationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="prod" nillable="true" type="q21:JsonProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPackageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="prod" nillable="true" type="q22:JsonProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatePackageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePackageWLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePackageWLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatePackageWLocationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="releaseRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="owner" nillable="true" type="q23:JsonUser" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="product" nillable="true" type="q24:jsonProduct" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="releaseRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="releaseRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRelease">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="user" nillable="true" type="q25:JsonUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReleaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getReleaseResult" nillable="true" type="q26:ArrayOfJsonReleaseRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReleaseRequests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getReleaseRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getReleaseRequestsResult" nillable="true" type="q27:ArrayOfJsonReleaseRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addProductLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="productlog" nillable="true" type="q28:JsonProductLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addProductLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addProductLogResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="product" nillable="true" type="q29:jsonProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getProductLogResult" nillable="true" type="q30:ArrayOfJsonProductLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWarehouse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getWarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getWarehouseResult" nillable="true" type="q31:ArrayOfJsonWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="approveTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="product" nillable="true" type="q32:jsonProduct" />
        <xs:element minOccurs="0" name="verdict" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="approveTransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="approveTransferResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="approveRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verdict" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="prod" nillable="true" type="q33:JsonProducts" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="approveRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="approveRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="paypal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="paypalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OwnershipRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="currentOwner" nillable="true" type="q34:JsonUser" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="newOwner" nillable="true" type="q35:JsonUser" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="prod" nillable="true" type="q36:JsonProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OwnershipRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OwnershipRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="approveOwnershipRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verdict" nillable="true" type="xs:string" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="user" nillable="true" type="q37:JsonUser" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="prod" nillable="true" type="q38:JsonProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="approveOwnershipRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="approveOwnershipRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOwnershipRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="user" nillable="true" type="q39:JsonUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOwnershipRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getOwnershipRequestResult" nillable="true" type="q40:ArrayOfJsonOwnershipReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTraderInStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="warehouses" nillable="true" type="q41:JsonWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTraderInStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getTraderInStockResult" nillable="true" type="q42:ArrayOfJsonUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addWarehouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="warehouse" nillable="true" type="q43:JsonWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addWarehouseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="country" nillable="true" type="q44:JsonCountry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCountryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getWarehouseInventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="warehouses" nillable="true" type="q45:JsonWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWarehouseInventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getWarehouseInventoryResult" nillable="true" type="q46:ArrayOfJsonInventory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WarehouseInventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WarehouseInventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="WarehouseInventoryResult" nillable="true" type="q47:ArrayOfJsonInventory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addWarehouseMan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="user" nillable="true" type="q48:JsonUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addWarehouseManResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addWarehouseManResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWarehouseI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="warehouses" nillable="true" type="q49:JsonWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWarehouseIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getWarehouseIResult" nillable="true" type="q50:JsonWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="users" nillable="true" type="q51:JsonUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getUserResult" nillable="true" type="q52:JsonUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="bill" nillable="true" type="q53:JsonBillofEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getBillResult" nillable="true" type="q54:ArrayOfJsonBillofEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="bill" nillable="true" type="q55:JsonBillofEntry" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="product" nillable="true" type="q56:JsonProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addInvoiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="invoiceNum" nillable="true" type="q57:JsonInvoice" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="products" nillable="true" type="q58:jsonProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getInvoiceResult" nillable="true" type="q59:JsonInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTax">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="products" nillable="true" type="q60:JsonProducts" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="newBill" nillable="true" type="q61:JsonBillofEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTaxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addTaxResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="users" nillable="true" type="q62:JsonUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getMessageResult" nillable="true" type="q63:ArrayOfJsonMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserOwnershipRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="user" nillable="true" type="q64:JsonUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserOwnershipRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getUserOwnershipRequestResult" nillable="true" type="q65:ArrayOfJsonOwnershipReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="messages" nillable="true" type="q66:JsonMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="payTax">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="invoices" nillable="true" type="q67:JsonInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="payTaxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="payTaxResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findavailablelocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="w" nillable="true" type="q68:JsonWarehouse" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="p" nillable="true" type="q69:jsonProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findavailablelocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="findavailablelocationResult" nillable="true" type="q70:jsonlocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findlocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="w" nillable="true" type="q71:JsonWarehouse" />
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="p" nillable="true" type="q72:jsonProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findlocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="findlocationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addlocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="loca" nillable="true" type="q73:jsonlocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addlocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addlocationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageInWarehouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packageID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPackageInWarehouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getPackageInWarehouseResult" nillable="true" type="q74:jsonlocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="occupylocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="occupylocationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Reservelocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="jloc" nillable="true" type="q75:jsonlocation" />
        <xs:element minOccurs="0" name="packageid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReservelocationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="vacatelocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="packageID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vacatelocationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getWarehouseLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="warehousesID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWarehouseLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getWarehouseLocationsResult" nillable="true" type="q76:ArrayOfjsonlocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="_warehouse" nillable="true" type="q77:JsonWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateSectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WarehouseAvailabilityGraph">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WarehouseAvailabilityGraphResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="WarehouseAvailabilityGraphResult" nillable="true" type="q78:ArrayOfjsonWarehouseAvailabilty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageLengthCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageLengthCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="PackageLengthCategoriesResult" nillable="true" type="q79:ArrayOfPackageSizeCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageHeightCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PackageHeightCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="PackageHeightCategoriesResult" nillable="true" type="q80:ArrayOfPackageSizeCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackagewidthCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PackagewidthCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="PackagewidthCategoriesResult" nillable="true" type="q81:ArrayOfPackageSizeCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WarehouseIncidents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WarehouseIncidentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="WarehouseIncidentsResult" nillable="true" type="q82:ArrayOfWarehouseIncidentsGraph" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WarehouseReleases">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WarehouseReleasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="WarehouseReleasesResult" nillable="true" type="q83:ArrayOfWarehouseReleasescs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackagesPerMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackagesPerMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="PackagesPerMonthResult" nillable="true" type="q84:ArrayOfPackagePerMonth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncidentsLastMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncidentsLastMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="IncidentsLastMonthResult" nillable="true" type="q85:ArrayOfOutgoingRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StorageRates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StorageRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="StorageRatesResult" nillable="true" type="q86:ArrayOfWarehousesStorageRates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StorageRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="warehouseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StorageRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="StorageRateResult" nillable="true" type="q87:ArrayOfWarehouseStorageRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StorageFilledBy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StorageFilledByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="StorageFilledByResult" nillable="true" type="q88:ArrayOfStorageFilledBy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCountryP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCountryPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getCountryPResult" nillable="true" type="q89:ArrayOfJsonCountryPercentage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOutstandingTax">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getOutstandingTaxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getOutstandingTaxResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAverageTax">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAverageTaxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getAverageTaxResult" nillable="true" type="q90:JsonTax" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="releaseWareHouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="warehouse" nillable="true" type="q91:JsonWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="releaseWareHouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="releaseWareHouseResult" nillable="true" type="q92:ArrayOfReleaseProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transferWareHouse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="warehouse" nillable="true" type="q93:JsonWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transferWareHouseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="transferWareHouseResult" nillable="true" type="q94:ArrayOfTransferDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="_task" nillable="true" type="q95:JsonTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addTaskResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="_user" nillable="true" type="q96:JsonUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getTasksResult" nillable="true" type="q97:ArrayOfJsonTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="completeTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="_task" nillable="true" type="q98:JsonTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="completeTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="completeTaskResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWarehouseSection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="_warehouse" nillable="true" type="q99:JsonWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWarehouseSectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getWarehouseSectionResult" nillable="true" type="q100:ArrayOfArrayOfjsonlocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="_user" nillable="true" type="q101:JsonUser" />
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="_warehouse" nillable="true" type="q102:JsonWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addEmployeeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWarehouseTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="_warehouse" nillable="true" type="q103:JsonWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWarehouseTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getWarehouseTaskResult" nillable="true" type="q104:ArrayOfJsonTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="_warehouse" nillable="true" type="q105:JsonWarehouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/CiroService.JsonObjects" minOccurs="0" name="getEmployeesResult" nillable="true" type="q106:ArrayOfJsonUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>